@model testemvc.Models.RegistroModel

@{
    ViewData["Title"] = "Registro";
}

@{
    Layout = null;
}

<div id="formulario-de-registro">
    <div id="formularios">
        <input id="primeiro-nome" class="aba-form" placeholder="Primeiro Nome" type="text" name="primeironome">

        <input id="ultimo-nome" class="aba-form" placeholder="Último Nome" type="text" name="ultimonome">

        <input id="email" class="aba-form" placeholder="Email" type="text" name="email">

        <input id="senha" class="aba-form" placeholder="Senha" type="password" name="senha">

        <select name="genero" id="genero" class="aba-form">
            <option value="Masculino">Masculino</option>
            <option value="Fêminino">Fêminino</option>
            <option value="Não Binário">Não Binário</option>
            <option value="Outro">Outro</option>
        </select>

        <div id="selecionar-data-nasc">
            <label id="lab-nasc" for="data-de-nascimento">Data de Nascimento</label>
            <input id="data-de-nascimento" class="aba-form" name="datadenascimento" type="date">
        </div>

        <a id="link-voltar" href="../index.html"><input class="botoes" type="submit" value="Voltar" id="botao-voltar"></a>

        <input class="botoes" type="submit" value="Registrar" id="botao-registro">
    </div>
</div>